.hg
build
*.mode1v3
*.pbxuser
*.orig
.DS_Store
.metadata
.project
.settings
*.perspectivev3
xcuserdata
project.xcworkspace
release/AFCacheLib.h
# emacs noise
*~
*#
\#*
.#*

# vi noise 
.*.swp
.idea
Headers
demo/Pods
