CODE_SIGN_IDENTITY = iPhone Developer
INSTALL_PATH = $(HOME)/Applications
COPY_PHASE_STRIP = NO
OTHER_LDFLAGS = -all_load -ObjC -framework Foundation -framework UIKit
PREBINDING = NO
INFOPLIST_FILE = AFCacheDemoiOS-Info.plist
PRODUCT_NAME = AFCacheDemoiOS
ALWAYS_SEARCH_USER_PATHS = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SYSTEM_LIBRARY_DIR)/Frameworks/UIKit.framework/Headers/UIKit.h
