ARCHS = $(ARCHS_STANDARD_32_64_BIT)
//SDKROOT = macosx10.6 // don't define SDKROOT here or you will run into an xcode bug. that's what was told me ;)
ONLY_ACTIVE_ARCH = YES
PREBINDING = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
