<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFCache.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AFCacheOSXStatic.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>afcpkg.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050D30B0132A276A003809FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050D30C5132A276A003809FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05FA23391357515400050BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05FA235E1357539B00050BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05FA23681357539C00050BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
