<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFCacheDemoiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>afcpkg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFCache.framework</key>
		<true/>
		<key>AFCacheDemoiOS.app</key>
		<true/>
		<key>Build All</key>
		<true/>
		<key>afcpkg</key>
		<true/>
		<key>createFatLib-iOS</key>
		<true/>
		<key>libAFCache.a</key>
		<true/>
		<key>libAFCacheOSXStatic.a</key>
		<true/>
	</dict>
</dict>
</plist>
