INSTALL_PATH = /usr/local/bin
COPY_PHASE_STRIP = NO
OTHER_LDFLAGS = -framework Foundation -framework AppKit -ObjC -all_load
PREBINDING = NO
INFOPLIST_FILE = afcpkg.plist
PRODUCT_NAME = afcpkg
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_MODEL_TUNING = G5
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SYSTEM_LIBRARY_DIR)/Frameworks/AppKit.framework/Headers/AppKit.h
