#include "../base.xcconfig"

ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = AFCache
WRAPPER_EXTENSION = framework
ALWAYS_SEARCH_USER_PATHS = NO
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = AFCache_Prefix.pch

#include "../EngineRoom.xcconfig"
OTHER_CFLAGS = $(ENGINEROOM_CFLAGS)
OTHER_LDFLAGS = $(ENGINEROOM_LDFLAGS)
